<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskFormModal" data-task-description="" data-task-duration="1">
    Add Task
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryFormModal">
    Add Category
</button>

<div class="modal fade" id="taskFormModal" tabindex="-1" role="dialog" aria-labelledby="taskFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title" id="taskFormModalLabel">New Task</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <%= form_with(model: @task) do |f| %>
		<div class="modal-body">
		    <div id="new-task" class="form-group">
			<%= f.collection_select :category_id, @categories.sort_by(&:name), :id, :name, {}, class: "form-control form-control-sm" %>
			<%= f.text_field :description, class: "form-control form-control-sm task-description", placeholder: "Description" %>
			<%= f.number_field :duration_in_hours, class: "form-control form-control-sm task-duration", placeholder: "Duration (in hours)" %>
			<%= f.date_field :date, class: "form-control form-control-sm" %>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <%= f.submit 'Add Task', class: 'btn btn-outline-primary' %>
		</div>
	    <% end %>
	</div>
    </div>
</div>

<div class="modal fade" id="categoryFormModal" tabindex="-1" role="dialog" aria-labelledby="categoryFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title" id="categoryFormModalLabel">New Category</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <%= form_with(model: @category) do |f| %>
		<div class="modal-body">
		    <div id="new-category" class="form-group">
			<%= f.text_field :name, class: "form-control form-control-sm category-name", placeholder: "Name" %>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <%= f.submit 'Add Category', class: 'btn btn-outline-primary' %>
		</div>
	    <% end %>
	</div>
    </div>
</div>

<script>
 $('#taskFormModal').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget) // Button that triggered the modal
     var description = button.data('task-description')
     var duration = button.data('task-duration')
     var modal = $(this)
     modal.find('.task-description').val(description)
     modal.find('.task-duration').val(duration)
 })

 $('#categoryFormModal').on('show.bs.modal', function (event) {
     var modal = $(this)
     modal.find('.category-name').val('')
 })
</script>

<!-- create one card-group per week?, or two plus summary? -->
<% @tasks.sort_by(&:date).reverse.group_by(&:date).each do |date, tasks| %>
    <div class="card">
	<div class="card-title">
	    <div class="row">
		<div class="col-2">
		    <h5><%= date.strftime "%a, %B %d %Y" %></h5>
		</div>
		<div class="col-4">
		    <% pensum = Task.relative_day_pensum(tasks) %>
		    <div class="progress">
			<div class="progress-bar progress-bar-striped <%= 'bg-success' unless pensum < 100 %>" role="progressbar" style="width: <%= pensum %>%" aria-valuenow="<%= pensum %>" aria-valuemin="0" aria-valuemax="100">
			    <%= pensum %>%
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="card-body">
	    <ul id="tasks-<%= date.as_json %>">
		<%= render tasks %>
	    </ul>
	</div>
    </div>
<% end %>

<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title" id="taskFormModalLabel">New Task</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <%= form_with(model: @tasks.first) do |f| %>
		<div class="modal-body">
		    <div id="edit-task" class="form-group">
			<%= f.collection_select :category_id, @categories.sort_by(&:name), :id, :name, {}, class: "form-control form-control-sm task-category-id" %>
			<%= f.text_field :description, class: "form-control form-control-sm task-description", placeholder: "Description" %>
			<%= f.number_field :duration_in_hours, class: "form-control form-control-sm task-duration", placeholder: "Duration (in hours)" %>
			<%= f.date_field :date, class: "form-control form-control-sm task-date" %>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
		</div>
	    <% end %>
	</div>
    </div>
</div>

<script>
 $('#editTaskModal').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget) // Button that triggered the modal
     var action = button.data('task-form-action')
     var category = button.data('task-category-id')
     var description = button.data('task-description')
     var duration = button.data('task-duration')
     var date = button.data('task-date')
     var modal = $(this)
     modal.find('form').attr('action', action)
     modal.find('.task-category-id').val(category)
     modal.find('.task-description').val(description)
     modal.find('.task-duration').val(duration)
     modal.find('.task-date').val(date)
 })
</script>
