<div class="clearfix">
    <button type="button" class="btn btn-outline-primary btn-sm float-right mt-1" data-toggle="modal" data-target="#newCategoryModal">
	Add Category
    </button>
</div>

<%= render partial: 'categories/form_modal', locals: { category: @category, modal_id: 'newCategoryModal' } %>

<% current_monday =  Date.today.beginning_of_week %>
<% Date.today.cweek.downto(1).each_with_index do |week, week_idx| %>
    <% monday = current_monday - 7 * week_idx %>
    <div class="card mt-3">
	<div class="card-header" id="header-week-<%= week %>">
	    <h5 class="mb-0">
		<button class="btn btn-link text-muted" data-toggle="collapse" data-target="#collapse-week-<%= week %>" aria-expanded="true" aria-controls="collapse-week-<%= week %>">
		    <%= monday.strftime "%B %d" %> - <%= (monday + 5).strftime "%B %d" %>, <%= monday.strftime "%Y" %>
		</button>
	    </h5>
	</div>
	<div id="collapse-week-<%= week %>" class="collapse <%= 'show' if week_idx.zero? %>" aria-labelledby="header-week-<%= week %>" data-parent="#accordion">
	    <div class="card-group">
		<% (0..4).each do |day_idx| %>
		    <% date = monday + day_idx %>
		    <% tasks = (@tasks_by_week[week] || []).select { |task| task.date == date } %>
		    <div class="card">
			<div class="card-title">
			    <h5><%= date.strftime("%A") %></h5>
			    <%= render partial: 'progress_bar', locals: { progress: Task.relative_day_pensum(tasks), id: "progress-#{date.as_json}" } %>
			</div>
			<div class="card-body">
			    <div class="clearfix">
				<button type="button" class="btn btn-outline-primary btn-sm mb-1 mt-0 float-right" data-toggle="modal" data-target="#newTaskModal"
					data-task-category-id="<%= @categories.first.id %>"
					data-task-description=""
					data-task-duration="1"
					data-task-date="<%= date.as_json %>">
				    Add Task
				</button>
			    </div>
			    <ul id="tasks-<%= date.as_json %>" class="list-group">
				<%= render tasks %>
			    </ul>
			</div>
		    </div>
		<% end %>
	    </div>
	    <div class="card-footer">
		<%= render partial: 'summary', locals: { tasks: @tasks_by_week[week] || [] } %>
	    </div>
	</div>
    </div>
<% end %>

<%= render partial: 'form_modal', locals: { task: @sample_task, modal_id: 'editTaskModal' } %>
<%= render partial: 'form_modal', locals: { task: @new_task, modal_id: 'newTaskModal' } %>

<script>

 function updateProgressBar(date) {
     console.log('updateProgressBar', date)
     var progress = 0;
     $("#tasks-" + date +" li").each(function(i, obj) {
	 var duration = $(this).attr("data-task-duration");
	 progress += duration * 100;
     });

     $("#progress-" + date).attr("style", "width:" + progress + "%");
     $("#progress-" + date).attr("aria-valuenow", progress);
     $("#progress-" + date).text(Math.round(progress) + "%");
     if(progress >= 100) {
	 $("#progress-" + date).removeClass('bg-primary');
	 $("#progress-" + date).addClass('bg-success');
     } else {
	 $("#progress-" + date).removeClass('bg-success');
	 $("#progress-" + date).addClass('bg-primary');
     }
     
     
 }
</script>
