<tr id="category-<%= category.id %>">
    <td><%= category.name %></td>
    <td><%= category_tag(category) %></td>
    <td>
	<a href="#" data-toggle="modal" data-target="#editCategoryModal"
	   data-category-form-action="<%= category_path(category, method: :put) %>"
	   data-category-name="<%= category.name %>"
	   data-category-icon="<%= category.icon %>"
	   data-category-icon-color="<%= category.icon_color %>">
	    <i class="fas fa-pen text-muted" title="Edit"></i>
	</a>
	<% unless category.tasks.any? %>
	    <%= link_to category, method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: 'text-muted' do %>
		<i class="fas fa-trash" title="Delete"></i>
	    <% end %>
	<% end %>
    </td>
</tr>
