<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title" id="<%= modal_id %>Label"><%= category.persisted? ? 'Edit Category' : 'New Category' %></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <%= form_with(model: category) do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<div class="modal-body">
		    <div id="new-category" class="form-group">
			<%= f.text_field :name, class: "form-control form-control-sm category-name", placeholder: "Name" %>
			<%= f.text_field :icon, class: "form-control form-control-sm category-icon", placeholder: "Icon" %>
			<div class="float-right">
			    <%= link_to 'Available Icons', 'https://fontawesome.com/icons', target: '_blank' %>
			</div>

			<div class="icon-colors">
			    <% Category.icon_colors.keys.each do |icon_color| %>
				<%= f.radio_button :icon_color, icon_color, class: "category-icon-color-#{icon_color}" %>
				<%= icon_tag('square', icon_color) %>
				<br/>
			    <% end %>
			</div>
		    </div>
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <%= f.submit category.persisted? ? 'Update' : 'Create', class: 'btn btn-primary' %>
		</div>
	    <% end %>
	</div>
    </div>
</div>

<script>
 $('#<%= modal_id %>').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget) // Button that triggered the modal
     var action = button.data('category-form-action')
     var name = button.data('category-name')
     var icon = button.data('category-icon')
     var iconColor = button.data('category-icon-color')
     console.log(iconColor)
     var modal = $(this)
     modal.find('form').attr('action', action)
     modal.find('.category-name').val(name)
     modal.find('.category-icon').val(icon)
     modal.find('.category-icon-color-' + iconColor).prop("checked", true)
 })
</script>
